#! usr/bin/env python3
from colorama import init, Fore
from data.functions.logging import get_log

init(autoreset=True)
logger = get_log(__name__)


def run():
    # Looks better in logs this way when using Grafana
    logger.info("\n"
                f"{Fore.LIGHTGREEN_EX}  ███╗   ███╗ ██████╗ ██████╗ ██╗   ██╗███████╗    ██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗ {Fore.RESET}\n"
                f"{Fore.LIGHTGREEN_EX}  ████╗ ████║██╔═══██╗██╔══██╗██║   ██║██╔════╝    ██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝ {Fore.RESET}\n"
                f"{Fore.LIGHTGREEN_EX}  ██╔████╔██║██║   ██║██║  ██║██║   ██║███████╗    ██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║ {Fore.RESET}\n"
                f"{Fore.LIGHTGREEN_EX}  ██║╚██╔╝██║██║   ██║██║  ██║██║   ██║╚════██║    ██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║ {Fore.RESET}\n"
                f"{Fore.LIGHTGREEN_EX}  ██║ ╚═╝ ██║╚██████╔╝██████╔╝╚██████╔╝███████║    ██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║ {Fore.RESET}\n"
                f"{Fore.LIGHTGREEN_EX}  ╚═╝     ╚═╝ ╚═════╝ ╚═════╝  ╚═════╝ ╚══════╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝  {Fore.RESET}")